<h1>Tambah Data Staff</h1>
<form action="/addStaff" method="post" class="row g-3">
  <div class="col-md-6">
    <label for="name" class="form-label">Name:</label>
    <input type="text" class="form-control" id="name" name="name" required />
  </div>
  <div class="col-md-6">
    <label for="jabatan" class="form-label">Jabatan:</label>
    <input
      type="text"
      class="form-control"
      id="jabatan"
      name="jabatan"
      required
    />
  </div>
  <div class="col-md-6">
    <label for="nip" class="form-label">NIP:</label>
    <input type="text" class="form-control" id="nip" name="nip" required />
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<div class="container mt-4">
  <table id="myTable" class="table table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Nama</th>
        <th>Jabatan</th>
        <th>NIP</th>
        <th>Action</th>
        <th>Tugas</th>
      </tr>
    </thead>
    <tbody>
      <% let no = 1; %> <% data.forEach(e => { %>
      <tr>
        <td><%= no %></td>
        <td><%= e.name %></td>
        <td><%= e.jabatan %></td>
        <td><%= e.nip %></td>
        <td>
          <a href="/editStaff/<%= e.id %>" class="btn btn-outline-primary"
            >Edit</a
          >
          <a href="/deleteStaff/<%= e.id %>" class="btn btn-outline-danger"
            >Delete</a
          >
          <a
            href="/addTugas/<%= e.id %>"
            class="btn btn-outline-success"
            target="_blank"
            >Tambah Tugas</a
          >
        </td>
        <td>
        <form action="/addRecordTugas/<%= e.id %>" method="post">
        <% let noo = 1; %>
         <% e.tugas.forEach(ex => { %>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="tugasCheck<%= noo %>" name="value" value="<%- parseInt(ex.nilai) %>">
            <label class="form-check-label" for="tugasCheck<%= noo %>">
              <%= ex.deskripsi %>
            </label>
          </div>
          <% noo++ %>
         <% }) %>
        <button class="btn btn-info my-2" type="submit">Add Record</button>
        </form>
        </td>
      </tr>
      <% no++ %> <% }) %>
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function () {
    $("#myTable").DataTable();
  });
</script>
